.contens_wrap{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.i_dog{
    margin-top: 80px;
    display:flex;
    flex-direction: row-reverse;
}

.logo{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}